<div class="block">
    <p>Modal :
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <button (click)="clickedButton()">X</button>    <br>   
        Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. <br>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. <br>
        Duis pulvinar. Integer in sapien. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam.  <br>
        Fusce suscipit libero eget elit. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. <br>
        In dapibus augue non sapien. Vivamus luctus egestas leo. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. <br>
        Morbi scelerisque luctus velit. Nulla est.
    </p>
</div>